# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
*.swp

# Newman report output
newman/*
*.htm
*.html

# Environment and runtime files
.env
*.local

# workaround para carregar dinamimcamente o schema no ambiente
runtime.environment.json