name: API Tests

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  run-api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Newman
        run: npm install -g newman newman-reporter-htmlextra

      - name: Run API Tests
        run: |
          node load-schema.js
          newman run collections/viacep.postman_collection.json \
            -e runtime.environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export reports/report.html

      - name: Upload report to Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports/

  deploy-pages:
    needs: run-api-tests
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
