name: API Tests

on:
  push:
    branches: ["main"]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Newman + HTML Report
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run API Tests
        run: |
          node load-schema.js
          newman run collections/viacep.postman_collection.json \
            -e environments/viacep.postman_environment.json \
            -r htmlextra \
            --reporter-htmlextra-export reports/report.html

      - name: Upload Report as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: api-test-report
          path: reports/report.html
